/* ===== card--12api1s item *6 ===== */
.card--12api1s .build__item,
.card--12api1s .item__img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card--12api1s .decor__top img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card--12api1s .decor__bg {
  padding-left: 2%;
  padding-right: 2%;
  background-size: 100%;
  text-decoration: none;
}

.card--12api1s .decor__bottom img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.card--12api1s .item__info {
  padding: 2% 4%;
}

/* ===== top12 Start  ===== */
.n-flag__wrap .flag__top {
  display: block;
}

.card--12api1s .build__item .item__name {
  height: 35px;
  margin-top: 2px;
  margin-bottom: 12%;
  font-size: 15px;
  line-height: 125%;
}

.card--12api1s .build__item .item__btn {
  position: absolute;
  bottom: 8px;
  right: 6px;
  width: 91px;
  padding: 5px 8px;
  border-radius: 50px;
}

.card--12api1s .build__item .item__btn button {
  color: #fff;
  background: transparent;
  border: 0;
}

.card--12api1s .build__item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.2);
}

.card--12api1s .build__item .item__price span {
  display: inline-block;
  color: #cc1e05;
}

/* top 12 標籤 */
.card--12api1s .item__box {
  position: relative;
}

.card--12api1s .n-flag__wrap {
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
  width: 26px;
  padding-top: 2px;
  background-color: #fe2a00;
  text-align: center;
  color: #fff;
}

.card--12api1s .n-flag__wrap:before,
.card--12api1s .n-flag__wrap:after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 0;
  height: 0;
}

.card--12api1s .n-flag__wrap:before {
  right: 0;
  bottom: -10px;
  border-top: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 0 solid transparent;
  border-right: 26px solid #821000;
}

.card--12api1s .n-flag__wrap:after {
  left: 0;
  bottom: -10px;
  border-top: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 26px solid #fe2a00;
}

.card--12api1s .n-flag__wrap .flag__top {
  font-size: 12px;
}

.card--12api1s .n-flag__wrap .flag__top,
.card--12api1s .build__item .item__push {
  display: none;
}

.card--12api1s .n-flag__wrap .num {
  font-size: 1.2em;
}

.card--12api1s .item__price span:last-child {
  font-size: 20px;
}

.card--12api1s .item__price.margin-bottom-sm {
  margin-bottom: 0;
}

/* 隱藏銷編用 */
.card--12api1s .build__item.hidden {
  display: none;
}

/* ===== RWD 600 ===== */
@media screen and (min-width: 600px) {
  .card--12api1s .build__item .item__name {
    margin-top: 5px;
  }

  .card--12api1s .item__price span:last-child {
    font-size: 22px;
  }

  .card--12api1s .item__price.margin-bottom-sm {
    margin-bottom: 2%;
  }
}

/* ===== RWD 768 ===== */
@media screen and (min-width: 768px) {
  .card--12api1s .build__item {
    width: 16%;
    margin: 0.4% 0.25%;
  }

  .card--12api1s .n-flag__wrap .flag__top,
  .card--12api1s .build__item .item__push {
    display: block;
  }

  .card--12api1s .build__item .item__name {
    height: 41px;
    font-size: 16px;
  }
}

/* ===== RWD 960 ===== */
@media screen and (min-width: 960px) {
  .card--12api1s .decor__bg {
    padding-left: 4%;
    padding-right: 4%;
    background-size: auto;
  }

  .card--12api1s.build__wrap {
    margin-bottom: 30px;
  }

  .card--12api1s .build__item .item__name {
    margin-bottom: 8%;
  }
}
/* =============== API 共用樣式 End =============== */

/* card--12api1s05 */
.card--12api1s.card--12api1s05 .decor__bg {
  background: url(decor-promo-bg-5.png) 0 0 repeat-y;
  background-size: 100%;
}

.card--12api1s.card--12api1s05 .n-flag__wrap {
  background-color: #fff771;
  color: #a12924;
}

.card--12api1s.card--12api1s05 .n-flag__wrap:before {
  border-right: 26px solid #b4ae4c;
}

.card--12api1s.card--12api1s05 .n-flag__wrap:after {
  border-left: 26px solid #fff771;
}
