/* ===== card--5d5s1bn01 item *1b4s ===== */
  /* 過渡期用，用來蓋過原本 build__wrap 的設定
  並測試 item__wrap 的控制間距方式 */
  .card--5d5s1bn01.item--1b4s.build__wrap {
    justify-content: space-between !important;
    padding: 0 !important;
  }

  .card--5d5s1bn01.item--1b4s .build__item:first-child .item__box {
    display: flex;
  }

  .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__pic {
    border: 1px solid #e1e1e1;
    border-radius: 6px;
  }

  .card--5d5s1bn01.item--1b4s .build__item .item__info {
    padding: 2% 4%;
  }

  .card--5d5s1bn01.item--1b4s .build__item:first-child .item__info {
    width: 50%;
  }

  .card--5d5s1bn01.item--1b4s .item__push {
    text-align: left;
  }

  .card--5d5s1bn01.item--1b4s .item__push span {
    margin: 0;
  }

  .card--5d5s1bn01 .item__special__title {
    position: relative;
    width: 100%;
    height: 9vw;
    font-weight: 300;
  }

  .card--5d5s1bn01 .item__btn div:last-child {
    position: absolute;
  }

  /* .card--5d5s1bn01 .item__special__overlay,
  .card--5d5s1bn01 .btn__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.72deg, #E1E1E180 -8.61%, #E1E1E1 49.07%, #E1E1E180 108.63%);
    opacity: 0.5;
  } */

  /* .card--5d5s1bn01 .btn__overlay {
    background: #BDBDBD;
    opacity: 0.25;
  } */

  /* .card--5d5s1bn01 .item__special__overlay {
    width: 100%;
    height: 100%;
  } */

  .card--5d5s1bn01 .item__special__title .item__special__background {
    height: 9vw;
    /* 預設顏色，如果沒填寫 custom tag */
    background: linear-gradient(55deg,
        transparent -50%,
        #999 30%,
        #999 70%,
        transparent 150%);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
  }

  .card--5d5s1bn01 .item__special__title h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 4vw;
    line-height: 180%;
    word-break: keep-all;
    opacity: 0.8;
    transform: translate(-50%, -50%);
  }

  .card--5d5s1bn01 .item__special__title h3::before,
  .card--5d5s1bn01 .item__special__title h3::after {
    content: "";
    height: 6px;
    width: 18px;
    border-top: 2.5px solid;
    border-bottom: 0.5px solid;
    opacity: 0.75;
  }

  .card--5d5s1bn01 .item__special__title h3::before {
    margin-right: 1.8%;
  }

  .card--5d5s1bn01 .item__special__title h3::after {
    margin-left: 1.5%;
  }

  .card--5d5s1bn01 .item__special__title .decor__title--left span:first-child,
  .card--5d5s1bn01 .item__special__title .decor__title--right span:first-child {
    width: 25px;
  }

  .card--5d5s1bn01 .item__special__title .decor__title--left span:last-child,
  .card--5d5s1bn01 .item__special__title .decor__title--right span:last-child {
    width: 20px;
  }

  .card--5d5s1bn01.item--1b4s .build__item:first-child .item__name {
    -webkit-line-clamp: 3;
    height: 50px;
    font-size: 20px;
  }

  .card--5d5s1bn01 .build__item:nth-child(2) .item__name.margin-bottom-md {
    margin-bottom: 24%;
  }

  .card--5d5s1bn01 .build__item:nth-child(2) .item__price .price-original {
    display: block;
  }

  .card--5d5s1bn01 .item__price .price-discount {
    color: #cc1e05;
    font-size: 22px;
  }

  .card--5d5s1bn01.item--1b4s .build__item:first-child .margin-bottom-sm {
    margin-bottom: 10%;
  }

  .card--5d5s1bn01.item--1b4s .build__item:first-child .margin-bottom-md {
    margin-bottom: 5%;
  }

  .card--5d5s1bn01.item--1b4s .build__item .item__btn {
    height: 34px;
    padding: 1.1% 0.5% 1.5% 2%;
  }

  .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) {
    width: 100%;
  }

  .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__box {
    display: flex;
  }

  .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__pic {
    width: 48%;
    padding-top: 46%;
  }

  .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 52%;
    padding: 0 0 0 3%;
  }

  .card--5d5s1bn01.item--1b4s .build__item .item__name {
    height: 41px;
    font-size: 15px;
    line-height: 140%;
  }

  .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 20%;
    padding: 0;
    font-size: 15px;
    letter-spacing: 0;
    color: #fff;
    background-color: #999;
    border-radius: 2px;
    opacity: 0.8;
  }

  .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__box {
    padding: 2.4% 2.5% 2%;
  }

  /* ===== RWD 375 ===== */
  @media screen and (min-width: 375px) {
    .card--5d5s1bn01.item--1b4s .build__item:first-child .margin-bottom-md {
      margin-bottom: 20%;
    }

    .card--5d5s1bn01.item--1b4s .build__item:first-child .item__name {
      height: 75px;
    }
  }

  /* ===== RWD 425 ===== */
  @media screen and (min-width: 425px) {
    .card--5d5s1bn01.item--1b4s .build__item:first-child .item__push {
      height: 20px;
    }
  }

  /* ===== RWD 641 ===== */
  @media screen and (min-width: 641px) {
    .card--5d5s1bn01.item--1b4s .build__item {
      width: calc(25% - 7.5px);
    }

    .card--5d5s1bn01.item--1b4s .build__item:first-child,
    .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) {
      width: calc(50% - 5px);
    }

    .card--5d5s1bn01 .build__item:nth-child(2) .item__name.margin-bottom-md {
      margin-bottom: 8%;
    }

    .card--5d5s1bn01 .item__price .price-t {
      max-width: 51px;
    }

    .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__pic {
      width: 33%;
      padding-top: 31.5%;
    }

    .card--5d5s1bn01.item--1b4s .build__item:first-child .item__box {
      display: block;
    }

    .card--5d5s1bn01.item--1b4s .item__name {
      height: 41px;
      font-size: 15px;
      line-height: 140%;
    }

    .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__info {
      width: 67%;
    }

    .card--5d5s1bn01.item--1b4s .build__item:first-child .item__push span {
      white-space: nowrap;
      max-height: 28px;
      line-height: 200%;
    }

    .card--5d5s1bn01.item--1b4s .item__name {
      height: 2.6em;
      font-size: 2vw;
    }

    .card--5d5s1bn01.item--1b4s .build__item:first-child .item__push {
      height: 28px;
    }

    .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__push {
      margin-top: 0;
    }

    .card--5d5s1bn01 .item__special__title {
      height: 3.8vw;
    }

    .card--5d5s1bn01 .item__special__title h3 {
      font-size: 20px;
    }

    .card--5d5s1bn01 .item__special__title .item__special__background {
      height: 4.3vw;
    }

    .card--5d5s1bn01 .item__special__title h3 {
      top: 56%;
    }

    .card--5d5s1bn01 .build__item:nth-child(2) .item__price .price-original {
      display: none;
    }
  }

  /* ===== RWD 960 ===== */
  @media screen and (min-width: 960px) {
    .card--5d5s1bn01.item--1b4s .build__item.build__banner--1 {
      position: relative;
      width: calc(50% - 5px);
      text-align: center;
      border: 0;
    }

    .card--5d5s1bn01.item--1b4s .build__banner--1 .item__pic img {
      left: 50%;
      transform: translateX(-50%);
    }

    .card--5d5s1bn01.item--1b4s .item__name {
      height: 36px;
      font-size: 15px;
    }

    .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__info {
      width: 50%;
    }

    .card--5d5s1bn01 .item__price .price-unit {
      font-size: 16px;
    }

    .card--5d5s1bn01.item--1b4s .build__item:nth-child(2) .item__btn {
      display: flex;
    }

    .card--5d5s1bn01 .item__special__title {
      height: 40px;
    }

    .card--5d5s1bn01 .item__special__title .item__special__background {
      height: 40px;
    }

    .card--5d5s1bn01 .item__special__title h3 {
      top: 50%;
    }

    .card--5d5s1bn01 .build__item:nth-child(2) .item__price .price-original {
      display: block;
    }
  }

  /* 過度樣式，之後需統一 banner 共用樣式 */
  .build__banner--1,
  .build__banner--2,
  .build__banner--3,
  .build__banner--4 {
    background-color: transparent !important;
  }